body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Existing styles... */

.dot {
    position: absolute;
    border-radius: 50%;
    background-color: black; /* Or any color you prefer */
    width: 20px;
    height: 20px;
    /* Remove the animation property */
}

/* #voronoi-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the canvas behind other elements */

#voronoi-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Make sure this is below the dots but above the background */
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
