body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars */
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; Set canvas background to black */
}
